
.main-container {
    
    width: 100%;
    padding: 20px;


}

input {
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 50px;
    transition: width 0.5s ease;
}