:root {
    --sidebar-width: 200px;
    --sidebar-collapsed-width: 50px;
    --transition-speed: 0.5s;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit; /* Prevents links from turning that default "Internet Blue" */
}

body {
    margin: 0;
    padding: 0;
    
}